@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.wpaa-admin {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.wpaa-admin * {
    box-sizing: border-box !important;
}

.wpaa-admin__wrapper {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 50px !important;
}

.wpaa-admin .wpaa-admin__title {
    font-size: 32px !important;
}

.wpaa-admin .wpaa-admin__links a {
    font-size: 14px !important;
    color: inherit !important;
    text-decoration: underline !important;
    margin-right: 10px !important;
}

.wpaa-admin .wpaa-admin__manage {
    max-width: 700px !important;
}

.wpaa-admin .wpaa-admin__manage .manage__items {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.wpaa-admin .wpaa-admin__manage .manage__item {
    display: flex !important;
    flex-direction: column !important;
    flex: 100% !important;
    padding: 0 10px !important;
    margin: 0 0 15px 0 !important;
}

.wpaa-admin .wpaa-admin__manage .manage__item:nth-child(1) {
    margin-top: 0 !important;
}

.wpaa-admin .wpaa-admin__manage .manage__item.manage__item--full {
    flex: 100% !important;
}

.wpaa-admin .wpaa-admin__manage .manage__item label {
    font-size: 18px !important;
    line-height: 22px !important;
    text-transform: uppercase !important;
    margin-bottom: 5px !important;
}

.wpaa-admin .wpaa-admin__manage .manage__item input,
.wpaa-admin .wpaa-admin__manage .manage__item textarea,
.wpaa-admin .wpaa-admin__manage .manage__item select {
    font-size: 18px !important;
    line-height: 20px !important;
    padding: 5px 10px !important;
    max-width: 100% !important;
}

.wpaa-admin .wpaa-admin__result {
    display: flex !important;
    flex-direction: column !important;
    max-width: 700px !important;
    width: 100% !important;
    margin: 20px 0 0 0px !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__shortcode .shortcode__hint {
    font-size: 18px !important;
    line-height: 26px !important;
    text-transform: uppercase !important;
    color: #aaa !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__shortcode .shortcode__action {
    font-size: 14px !important;
    line-height: 20px !important;
    text-transform: uppercase !important;
    margin-top: 10px !important;
    color: #aaa !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__shortcode .shortcode__inner {
    cursor: pointer !important;
    user-select: none !important;
    padding: 10px 20px !important;
    border: 2px dashed #6d6d6d !important;
    background: #e6e6e6 !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    transition: .1s !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__shortcode .shortcode__inner:hover {
    background: #d1d1d1 !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__shortcode .shortcode__inner:active {
    background: #8fcc7d !important;
}

.wpaa-admin .wpaa-admin__manage .manage__title,
.wpaa-admin .wpaa-admin__result .wpaa-admin__preview .preview__title {
    font-size: 22px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    margin: 0 0 20px 0 !important;
}

.wpaa-admin .wpaa-admin__result .wpaa-admin__preview .wpaa-alert {
    min-width: 0px !important;
}

@media screen and (min-width: 576px) {

    .wpaa-admin .wpaa-admin__manage .manage__item {
        flex: 50% !important;
    }

    .wpaa-admin .wpaa-admin__result .wpaa-admin__preview .wpaa-alert {
        min-width: 500px !important;
    }

}

@media screen and (min-width: 992px) {

    .wpaa-admin__wrapper {
        flex-direction: row !important;
    }

    .wpaa-admin .wpaa-admin__result {
        margin: 0 0 0 50px !important;
    }

}