.wpaa-alert * {
    box-sizing: border-box !important;
}

.wpaa-alert {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    box-sizing: border-box !important;
    width: 100% !important;
    padding: 20px !important;
    margin: 20px 0 20px 0 !important;
    border-width: 5px;
    border-style: dashed;
    color: #000 !important;
}

.wpaa-alert--danger {
    background: #ff00002a !important;
    border-color: #e24c4b !important;
}

.wpaa-alert--warning {
    background: #fedf302d !important;
    border-color: #ddbf16 !important
}

.wpaa-alert--info {
    background: #00d5ff2d !important;
    border-color: #25b7d3 !important;
}

.wpaa-alert--success {
    background: #00cd712c !important;
    border-color: #00cd71 !important;
}

.wpaa-alert__icon {
    max-width: 80px !important;
    width: 100% !important;
    margin-bottom: 20px;
}

.wpaa-alert__icon img {
    width: 100% !important;
}

.wpaa-alert__info {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.wpaa-alert__title {
    color: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
}

.wpaa-alert__text {
    opacity: .75;
    color: inherit !important;
    padding: 0 !important;
    margin: 10px 0 0 0 !important;
    border: 0 !important;
}

@media screen and (min-width: 768px) {

    .wpaa-alert {
        flex-direction: row !important;
        padding: 20px 50px !important;
    }

    .wpaa-alert__info {
        text-align: left !important;
        margin-left: 30px !important;
    }

    .wpaa-alert__icon {
        margin: 0 !important;
    }

}